.popup__input {
  margin: 0 0 23px;
  padding: 8px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  max-height: 27px;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.popup__input:focus {
  outline-color: rgba(0, 0, 0, 0.2);
}
