.profile__edit-btn {
  background-color: transparent;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: #FFFFFF solid 1px;
  background-image: url('../../../images/edit-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: edit-btn;
}

@media screen and (max-width: 635.98px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    background-size: 50% 50%;
  }
}
