@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);




.page {
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  max-width: 1280px;
  min-width: 288px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  max-width: 880px;
}

.header__logo {
  max-width: 142px;
  max-height: 33px;
}

.header {
  padding: 45px 0 41px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, .7);  /*#545454 с opacity: 0.7 в формате rgba*/
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


.profile {
  padding: 40px 0 50px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  grid-template-columns: 120px 1fr 150px;
  grid-template-rows: minmax(min-content, max-content);
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}


.profile__info {
  display: grid;
  grid-template-columns: minmax(150px, max-content) 24px;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
  "title edit-btn"
  "subtitle subtitle";
  gap: 10px 18px;/*--------------------gap: 16px 18px;*/
  align-items: baseline;
}



.profile__info-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
}

.profile__info-subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: subtitle;
}

.edit-btn {
  background-color: transparent;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: #FFFFFF solid 1px;
  background-image: url('../images/edit-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: edit-btn;
}

.add-btn {
  background-color: transparent;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: #FFFFFF solid 2px;
  background-image: url('../images/add-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);   /*minmax(282px, 1fr)*/
  gap: 20px 17px;
  grid-auto-rows: 361px;
  justify-content: center;
}

.element {
  background: #FFFFFF;
  border-radius: 10px;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.element__image {
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
  aspect-ratio: 1/1;
}

.element__caption {
  margin: 0;
  padding: 0;
  margin: auto 21px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
}

.element__caption-text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 198px;
}


.like-btn {
  background-color: transparent;
  width: 22px;
  height: 19px;
  border: none;
  background-image: url('../images/like-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer {
  padding: 66px 0 60px;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}



@media screen and (max-width: 1023.98px) {
  .page {
    max-width: 581px;
  }

  .profile__info-title {
    font-size: 29px;
    line-height: 1.2;
  }

  .profile__info-subtitle {
    font-size: 16px;
    line-height: 1.2;
  }
}








@media screen and (max-width: 635.98px) {
  .page {
    max-width: 320px;
    padding: 0 19px;
  }

  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
    padding-left: 27px;
  }

  .header {
    padding: 28px 0 31.6px;
    margin: 0 -19px; /*соответствует padding у .page*/
  }

  .profile {
    padding: 42px 0 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .profile__info {
    gap: 8px 10px;/*----------gap: 14px 10px;*/
    padding-bottom: 10px;
  }

  .profile__info-title {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    padding-left: 28px; /*размер кнопки 18px + отступ до кнопки 10px*/
  }

  .profile__info-subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .edit-btn {
    width: 18px;
    height: 18px;
    background-size: 50% 50%;
  }

  .add-btn {
    width: 100%;
    background-size: 40% 40%;
  }




  .footer {
    padding: 48px 0 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }


}
